body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content:left;
  padding: 0 48px;
  height: 66px;
  border-bottom: 2px solid #C5C2C2;
  background-color: #ffffff;
}

.navbar .gif {
  height: 100%;
  padding-right: 50px;
}
/* Navbar Underline animation was cutoff, found it via overflow
 https://stackoverflow.com/questions/42143546/why-is-my-navbar-menu-cut-off */
.nav-links {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
   overflow: visible;
}


.nav-links a {
    font-weight: 700;
    font-size: 16.4px;
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.nav-links li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  transform-origin: center;
  transition: 0.3s ease, color 0.3s ease;
}
.nav-links li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ff6600;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  transform: scale(1.15);
  color: #ff6600; 
}
.nav-links li a:hover::after {
  width: 100%;
}


h1 {
  font-size: 33px;
  font-weight: bold;
  padding: 20px 40px;
  text-align: left;
}

h2 {
  font-family: "Lalezar", sans-serif;
  font-size: 36px;
  padding: 20px 40px;
  text-align: left;
}

ol{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    font-size: 25px;
    margin-bottom: 5%;
    gap: 35px;
}


ol a {
  font-family: "Lalezar",sans-serif;
    text-decoration: none;
    font-size: 25px;
    color: #555;
}
ul{
  display:flex;
  overflow-x: scroll;
}

.players-list{
  display: flex;
    flex-direction: row;
    margin-top: 5%;
    overflow-x: scroll;
    justify-content: space-between;
    font-size: 25px;
    height: 50%;
    margin-bottom: 5%;
    gap: 35px;
}

.players-list a{
  font-family: "Lalezar",sans-serif;
   text-decoration: none;
    font-size: 25px;
    color: #555;
}
/* Following Code adapted from https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/ */
ol::-webkit-scrollbar {
  height: 12px;
}

ol::-webkit-scrollbar-thumb {
  background-color: #fd5a1e;
  border-radius: 6px;
  border: 3px solid white;
}

ol::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 6px;
}

ul::-webkit-scrollbar {
  height: 12px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #fd5a1e;
  border-radius: 6px;
  border: 3px solid white;
}

ul::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-top: 2px solid #d9d9d9;
    background-color: #fff;
}

.footer a {
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}
.footer a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: 0.3s ease;
}

.footer a:hover {
  color: #ff6600;
}

.footer a:hover::after {
  width: 100%;
}





